body{
    font-family: sans-serif;
    font-size: 16px;
}

.wrapper{
  margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.left_block,
.right_block{
    width: 45%;
    margin-right: 2%;
}

.left_block{
    padding-left: 2%;
}

select{
    border: 1px solid #777;
    padding: .5rem 3rem .5rem .5rem;
    border-radius: 3px;
  
    color: #565656;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.selectbox{
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.selectbox select{
    background: transparent;
}

.selectbox::after{
    content: '';
    display: inline-block;
    border-top: 10px solid #777;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: calc(50% - 5px);
    right:.5rem;
    z-index: -1;
    pointer-events: none;
}
.button{
  padding: .5rem .5rem .5rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid #777;
  border-radius: 3px;
  color: #565656;
  background: none;
}

.start{
    float: right;
}


.button:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

.button:active{
  position: relative;
  top: 1px;
}

.start__result,
.sort__result{
    margin-top: 20px;
    padding: 0;
    width: 100%;
    border: 1px solid #777;
    height: 220px;
    box-sizing: border-box;
    vertical-align: top;
}

.sort__result{
    border: 1px solid #777;
}

input#from,
input#to{
    padding: 5px;
    width: 130px;
    border: 1px solid #777;
    border-radius: 3px;
    color: #565656;
}

label{
    font-weight: normal;
    margin-left: 5px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

